/* --- d3.linegraph --- */
svg {
	font: 10px sans-serif;
	margin: 0px;
	padding: 0px;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
	shape-rendering: crispEdges;
}
 
.grid path {
	stroke-width: 0;
}
 
.axis path {
	fill: none;
	stroke: #bbb;
	shape-rendering: crispEdges;
}
.axis text {
	fill: #555;
}
.axis line {	
	stroke: #e7e7e7;
	shape-rendering: crispEdges;
}
.axis .axis-label {
	font-size: 12px;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}
.axisinner {
	stroke-width: 0.5px;
}
 
 
.dot {
	/* consider the stroke-with the mouse detect radius? */
	stroke: transparent;
	stroke-width: 7px;  
	cursor: pointer;
}
 
.dot:hover {
	stroke: rgba(255, 50, 50, 0.7);
}
/* --- d3.linegraph END --- */