<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ALL -->
<html ng-app=testarium>
<head>
	<title>{{ t.name }} | Testarium</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{{ url_for('static', filename='fonts/stylesheet.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/d3.linegraph.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/jquery-ui.min.css') }}" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jsrender.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/d3.v3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/d3.linegraph.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>

<body>

	<div id=body-back>
		<div class=title>{{ t.name }}</div>
	</div>

	<div id=control>
		<div class='button info'>{{ t.name[0] }}</div>
		<div class='button commits fa-th'></div>
		<div class='button plot fa-line-chart'></div>
	</div>

{% raw %}
	<!-- Template for Commit Table -->
	<script id="commitsTableTemplate" type="text/x-jsrender">
		<table>
			<tbody>
				{{for result}}
				<tr>
					{{props :}}
					<td>{{:prop}}</td>
					{{/props}}
				</tr>
				{{/for}}
			</tbody>
		</table>
	</script>

	<!-- Template for Commits Div -->
	<script id="commitsDivTemplate" type="text/x-jsrender">
		<div class='commit-table window' id={{>id}}>

			<div class=header>
				<span>&nbsp;{{>active_branch}}</span>
				<input placeholder=filter></input>
			</div>

			<div class=body>
			</div> <!-- body -->

			<div class=footer>
				<table>
					<thead><tr>
						{{props header}}
						<th>{{:prop}}</th>
						{{/props}}
						<th class='close-button'>x</th>
					</tr></thead>
				</table>
			</div>

		</div>
	</script>

	<!-- Template for Graph -->
	<script id="plotTemplate" type="text/x-jsrender">
		<div class=graph>
			<div class=graph-header><a onclick="$('.graph-back').hide()">hide</a></div>
			<div class=graph-canvas></div>
		</div>
	</script>

	<!-- Template for Info -->
	<div class='info window' id="info">
		<h1>info</h1>
		<pre></pre>
	</div>
{% endraw %}

</body>
</html>