<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{{ t.name }} - Testarium</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/d3.linegraph.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/jquery-ui.min.css') }}" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-1.11.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/d3.v3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/d3.linegraph.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>

<body>
	<div id="body_back">&nbsp;</div>
	<div id="header_back">&nbsp;</div>
	
	<div id="header">
		<center class='title'>{{ t.name }}</center>	
		<center class='branches'>
		{% for branch in t.branches %}
			{% if t.activeBranch.name == branch %}<b>{% endif %}
			<a href="/branch/set_active/{{branch}}">{{branch}}</a>&nbsp;&nbsp;
			{% if t.activeBranch.name == branch %}</b>{% endif %}
		{% endfor %}
		</center>
		<center class='commands'>
		</center>
	</div>
	
	<div id="main">
		<div id="graphline_back"><center>
			<div id="graphline"> 
				<center><a onclick="$('#graphline').hide()">hide</a></center>
			</div></center><br/>
		</div>
	
		<div id="body">
		{% block body %}{% endblock %}
		</div> <!-- body -->

	</div> <!-- main -->

	<div class="footer"><center>
	Commits in active branch: {{ t.activeBranch.commits|length }}
	</center></div>

</body>
</html>